# OSX
.DS_Store

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifacts
*.jsbundle

# React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.metro-health-check*

# CocoaPods (iOS)
ios/Pods/

# Android Studio
android/.gradle/
android/build/
android/app/build/
android/local.properties

# VS Code
.vscode/

# Watchman
.watchmanconfig 